
header {
    text-align-last: auto

}
p {
    color: blueviolet;
        width: 300px;
        border: 5px solid blanchedalmond;
        padding: 25px;
        margin: 25px;
}

h1 {
    color: black;
    font-size: 20px;
}

img {
    display: inline-block;
    width: 25%; // Show 4 images in a row normally
    height: auto;
    align-self: auto;
}
    
}

body {
    color: blanchedalmond;
    background-color: lightcoral;
